@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
html {
    scroll-behavior: smooth;
    cursor: none;
}

html::-webkit-scrollbar {
    width: 1vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 2px;
}

html::-webkit-scrollbar-track {
    background-color: #1d1d1d;
    border-left: 1px solid #2c2c2c;

}

body {
    font-family: Open Sans;
    background-color: #08090b;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

.customCursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 9999; 
    pointer-events: none; 
    opacity: 0.5;
    border: 1px solid #fff;
}

.click-effect {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  animation: clickAnimation 0.4s ease-out forwards;
}

@keyframes clickAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 1s ease;
  pointer-events: all;
}

.logo-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo-header #mylogo {
    width: 450px;
    height: 450px;
}

.logo{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 1;
}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.window-scroll {
    /* backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);  */
    background-color: #141414;
}

.mainContainer,
.mainContainer2 {
    display: flex;
    flex-direction: column;
    gap: 250px;
    min-height: 100svh;
}

.home {
    background-color: #08090b;
    color: #fff;
    margin: 12rem 20rem 0rem 20rem;
}

.navContainer {
    border-bottom: 1px solid #21242b;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    left: 50%; 
    transform: translateX(-50%); 
}

.navbar .smallLogo {
    position: relative;
    width: 40px;
    margin: auto 8rem;
}  

.nav_menu {
    position: relative;
    display: flex;
    gap: 5rem;
    margin: auto 8rem;
}

.nav_menu a {
    color: #8A8F98;
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.6;
    padding-bottom: 2px;
    cursor: none;
}

.nav_menu a:hover {
    color: #ffffff;
    transition: all 500ms ease;
}

.nav_menu a:after {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffffff;
  height: 2px;
  transition: width 0.3s ease;
}

.nav_menu a:hover:after {
  width: 100%;
}

.nav_menu a:hover {
  opacity: 1;
}

.openButton {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -200%;
  width: 250px;
  height: 100vh;
  background-color: #21242b;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 100px;
  text-align: left;
  padding-left: 20px;
  z-index: 100;
  transition: right 0.3s ease;
  cursor: none;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.open {
  right: 0;
}

.sidebar li a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: none;
}

.sidebar .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: none;
}

.nav_menu a.active,
.sidebar a.active {
  opacity: 1;
  color: #fff;
  position: relative;
}

.nav_menu a.active::after,
.sidebar a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #1d1d1d;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    z-index: 100000;
    pointer-events: none;
}

.mobileHeroContainer {
    display: none;
}

.heroTextContainer {
    position: relative;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.heroTextContainer1 {
    display: flex;
    gap: 2rem;
}

.heroTextContainer > .heroTextContainer1:nth-child(1) h1,
.mobileHeroContainer h1 {
    font-size: 120px;
    font-family: Courgette;
}

.heroTextContainer > .heroTextContainer1:nth-child(2) h1 {
    font-size: 160px;
    font-family: Courgette;
}

.heroTextContainer > .heroTextContainer1:nth-child(3) h1 {
    font-size: 160px;
    font-family: Courgette;
}

.heroText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resumeButton,
.mailButton {
    position: relative;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 3px;
    background-color: #141414;
    border: 1.5px solid #23252a;
    color: #8A8F98;
    cursor: none;
}

.resumeButton:hover,
.mailButton:hover {
    color: #000;
    background-color: #ffffff;
    transition: all 1s ease;
    box-shadow: 0 0 10px #fff;
    border: 1.5px solid #ffffff;
}

.myDesc,
.mobileHeroContainer p {
    font-size: 16px;
    color: #8A8F98;
    position: relative;
}

.myName {
    position: relative;
    font-weight: 400;
}






.skills {
    margin: auto 15rem;
    color: #ffffff;
}

.skillscontainer h2 {
    font-size: 1.5rem;
    color: #8A8F98;
    font-weight: 400;
    border-left: 5px solid #18f98f;
    border-radius: 2px;
    padding: 0 0 0 1rem;
}

.skillscontainer h1 {
    font-size: 2.5rem;
    padding-top: 0.8rem;
    font-weight: 400;
}


.skillsbox {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;    
    gap: 10px;
    z-index: 1;
}

.singleskill {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 0px 0px 0px 30px;
    align-items: center;
    border: 1px solid #23252a;
    background-color: #141414;
}

.singleskill a{
    position: relative;
    font-size: 1rem;
    padding: 0px 0px 0px 10px;
    color: #a7acb4;
    transition: all 0.5s ease;
}

.singleskill i {
    font-size: 40px;
    color: #3e3e3e; 
}

.singleskill:hover {
    transition: all 0.5s ease;
    background-color: #fff;
    transform: scale(1.05);
}

.singleskill:hover i,
.singleskill:hover .downloadIcon {
    transform:rotate(10deg);
    transition: all 0.5s ease;
    color: #08090b;
}

.singleskill:hover a {
    color: #08090b;
}







.homeProjects {
    color: #ffffff;
    margin: auto 15rem;
}

.homeProjectsInfoContainer h2,
.homeContactInfo h2 {
    font-size: 1.5rem;
    color: #8A8F98;
    font-weight: 400;
    border-left: 5px solid #18f98f;
    border-radius: 2px;
    padding: 0 0 0 1rem;
}

.homeProjectsInfoContainer h1,
.homeContactInfo h1 {
    font-size: 2.5rem;
    padding-top: 0.8rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.homeInnerProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.image1Container {
    display: flex;
    justify-content: center;
}

.image1Border {
    position: relative;
}

.image1Border::before, 
.image1Border::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #08090b;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    z-index: -1;
}

.image1Containers {
    aspect-ratio: 16 / 9;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    animation: pulse 2s ease-in-out infinite;
}

.image1Containers::before, 
.image1Containers::after {
    position: absolute;
    --angle: 235deg;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #08090b, #1d2024, #08090b, #08090b);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
    z-index: -1;
}

.homeInnerProjectImageContainer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.homeInnerImageContainer {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms ease;

}

.homeInnerProjectInfoContainer h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.homeInnerProjectInfoContainer h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8A8F98;
}

.homeInnerSecondRowProjectContainer {
    margin-top: 3rem;
    display: flex;
    gap: 4rem;
}

.homeInnerProject2Container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.homeImageLink {
    cursor: none;
}

.homeInnerProjectImageContainer:hover .homeInnerImageContainer {
    transform: scale(1.05); 
}







.homeContact {
    position: relative;
    background-color: #141414;
    color: #ffffff;
    overflow: auto;
    margin-top: auto;
}

.homeContactContainer {
    position: relative;
    margin: auto 15rem;
    display: flex;
    justify-content: space-between;
}   

.homeContactInfoContainer {
    margin-top: 2rem;
}

.homeContactInfo2 {
    color: #8A8F98;
    font-size: 1.1rem;
    position: relative;
    margin-top: -1rem;
}

.homeContactInfo2 h1 {
    position: relative;
    color: #8A8F98;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px 0px 0px 0px;
}

.homeContactInfo2 span {
    color: #ffffff;
    font-size: 2rem;
}

.mailButton {
    background-color: #3e3e3e;
    color: #fff;
    border: 1px solid #555555;
    border-radius: 5px;
}

.footer {
    display: flex;
    margin-top: 2rem;
    gap: 4rem;
}

.quickLinks,
.socialLinks {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.quickLinks h1,
.socialLinks h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 1.5rem;
}

.quickLinks a,
.socialLinks a {
    color: #8A8F98;
    cursor: none;
}

.quickLinks a:hover,
.socialLinks a:hover {
    color: #ffffff;
}

.footerInfo {
    margin: 4rem 15rem;  
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.footerInfo p {
    color: #fff;
    font-style: italic;
}

.footerInfo .homeCopyright {
    color: #8A8F98;
    font-weight: 100;
    font-style: normal;
    margin-top: 1rem;
}








/* -----------------------------------------------------
 --------------------- About Page ----------------------
 ----------------------------------------------------- */

.about {
    color: #ffffff;
    margin: 10rem 15rem 0rem 15rem;
    position: relative;
}

.aboutContainer {
    position: relative;
}

.aboutInfoContainer h2,
.processInfoContainer h2,
.servicesInfoContainer h2,
.upcomingProjectsContainer h2,
.imageCarousel h2,
.contactInfoContainer h2,
.projectInfo h2,
.projectOverviewInfo h2,
.imagesContainerInfo h2  {
    font-size: 1.5rem;
    color: #8A8F98;
    font-weight: 400;
    border-left: 5px solid #18f98f;
    border-radius: 2px;
    padding: 0 0 0 1rem;
}

.aboutInfoContainer h1,
.processInfoContainer h1,
.servicesInfoContainer h1,
.upcomingProjectsContainer h1,
.imageCarousel h1,
.contactInfoContainer h1,
.projectInfo h1,
.projectOverviewInfo h1,
.imagesContainerInfo h1  {
    font-size: 2.5rem;
    padding-top: 0.8rem;
    font-weight: 400;
}

.aboutTextContainer {
    position: relative;
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    align-items: center;
}

.aboutTextPara {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

/* .aboutImage2Container {
    flex: 2;
} */

.aboutTextPara p {
    color: #8A8F98;
    line-height: 1.8;
}


/* .aboutImageContainer {
    aspect-ratio: 16 / 9;
    background-color: #141517;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    animation: pulse 2s ease-in-out infinite;
} */

.aboutImageContainer::before, 
.aboutImageContainer::after,
.homeInnerProjectImageContainer::before,
.homeInnerProjectImageContainer::after {
    position: absolute;
    --angle: 235deg;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #08090b, #1d2024, #08090b, #08090b);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
    z-index: -1;
}

.aboutImageContainer {
    border-bottom: 2px solid #1d2024;
    width: 25svw;
}
  
.aboutImage {
    height: auto;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    position: relative;
    border-radius: 5px;
}

.numbersDetails {
    display: flex;
    justify-content: start;
    gap: 100px;
}

.eachNumberDetails span {
    color: #dbdde0;
    font-size: 2.5rem;
    font-weight: 400;
}

.eachNumberDetails h1 {
    color: #8a8f98;
    font-size: 1.2rem;
    font-weight: 100;
}






.servicesContainer {
    color: #fff;
    margin: auto 15rem;
}

.content-box{
    margin-top: 2rem;
    position: relative;
    display: flex;
    gap: 2rem;
    z-index: 2;
}


.servicesOneContainer {
    position: relative;
    /* height: 220px;
    width: 380px; */
    border-radius: 5px;
    z-index: 1;
}

.servicesOneContainer:hover i {
    color: #f7f8f8;
    transition: all 0.5s ease;
}

.servicesOneContainer::after,
.servicesOneContainer::before {
    --angle: 180deg;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle),#08090b, #08090b, #3e3e44, #08090b, #08090b, #08090b);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5px 1.5px;
    z-index: -1;
} 

.singlecard {
    --angle: 180deg;
    background: 
    radial-gradient(circle, #08090b 0%, transparent 100%), 
    conic-gradient(from var(--angle), #08090b, #08090b, #0c0e11, #1e1f21, #0c0e11, #08090b, #08090b, #08090b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 4rem 2rem;
    width: 100%;
    border-radius: 5px;
}

.singlecard i{
    font-size: 48px;
    position: relative;
    color: #5e5e5e;
}
  
.singlecard h2{
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;
    /* background: linear-gradient(to right, white 10%, #a5a5a5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; */
}
  
.singlecard p {
    position: relative;
    font-size: 0.9rem;
    color: #8a8f98;
}







.processContainer {
    color: #fff;
    margin: auto 15rem;
}

.processBoxContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4rem;
}

.processBox {
    background-color: #141414;
    border: 1.5px solid #23252a;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 1rem;
    padding: 2rem;
    transition: all 300ms ease;
}

.processBox:hover {
    transform: scale(1.10);
}

/* .processBoxContainer .processBox:nth-child(2),
.processBoxContainer .processBox:nth-child(4) {
    transform: rotate(-3deg);
}  */

.processBoxContainer .processBox:nth-child(2):hover,
.processBoxContainer .processBox:nth-child(4):hover {
    transform: scale(1.10);
} 

.processBox .bxs-file-pdf {
    font-size: 2rem;
    color: #ffffff;
}

.processBox .processCircle {
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 12px #fff;
}

.processBox .innerProcessBox {
    background-color: #1d1e20;
    padding: 1rem;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 0.5rem;
}

.innerProcessBox h1 {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
}

.innerProcessBox p {
    color: #8A8F98;
    font-size: 0.9rem;
}







.imageCarousel {
    color: #fff;
    margin: auto 15rem;
}

.imageCarousel p {
    font-size: 1rem;
    margin: 1rem 0 4rem 0;
    color: #8A8F98;
    line-height: 1.5;
}

.swiper {
    width: 90%;
    max-width: 1300px;
    height: 500px;
    margin: auto;
    cursor: none;
}

.swiper-slide {
    opacity: 0.2;
    transform: scale(0.8);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    pointer-events: none; 
    cursor: none;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
    z-index: 10; 
    cursor: none;
}


.swiper-button-next,
.swiper-button-prev {
    background: none;  
    color: transparent; 
    cursor: none;
}

.swiper-button-next::after {
    content: '';  
    color: #18f98f; 
    cursor: none;
}

.swiper-button-prev::after {
    content: '';  
    color: #18f98f;
    cursor: none;
}









.workProjects {
    color: #ffffff;
    margin: 10rem 15rem 0rem 15rem;
}

.upcomingProjectsContainer {
    margin-top: 8rem;
}

.contactMainButton a {
    background-color: #141414;
    border: 1.5px solid #23252a;
}






.contactContainer {
    color: #fff;
    margin: 10rem 15rem 0rem 15rem;
}

.contactInfo p {
    color: #8A8F98;
    margin-top: 1rem;
    font-size: 1rem;
}

.contactInfoContainer {
    display: flex;
    justify-content: space-between;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #23252a;
    padding: 2rem 10rem 2rem 5rem;
    background-color: #141414;
    border-radius: 5px;
}

.emailInfoContainer h3,
.phoneInfoContainer h3{
    color: #8A8F98;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.emailInfoContainer a {
    text-decoration: underline;
}

.emailInfoContainer a, 
.phoneInfoContainer p {
    color: #ffffff;
    cursor: none;
}

.contactInfo .contactMainButton {
    margin-top: 2rem;
}

.contactLogo {
    width: 3rem;
    margin-bottom: 2rem;
}

.contactCopyrightContainer .contactCopyright {
    color: #8A8F98;
    font-weight: 300;
    font-style: normal;
    margin-top: 2rem;
}



.mainContainer2 {
    gap: 200px;
}

.coverHeroContainer {
    color: #fff;
    margin: 10rem 15rem 0rem 15rem;
}

.coverHeroContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.coverImageBorder {
    position: relative;
}

.coverImageBorder::before, 
.coverImageBorder::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #08090b;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    z-index: -1;
}


.coverImageContainer::before, 
.coverImageContainer::after {
    position: absolute;
    --angle: 235deg;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #08090b, #1d2024, #08090b, #08090b);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
    z-index: -1;
}

.coverImageContainer {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: pulse 1s ease-in-out infinite;
}
  
.coverImage {
    width: 100%; 
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: relative;
}

.coverImage2 {
    border-radius: 0;
}

@keyframes pulse {
    0% {
        background-color: rgba(20, 21, 23, 0.75);
    }
    50% {
        background-color: rgba(20, 21, 23, 1);

    }
    100% {
        background-color: rgba(20, 21, 23, 0.75);

    }
}




.projectOverviewContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    color: #fff;
    margin: 0rem 15rem 0rem 15rem;

}

.projectOverviewInfoContainer {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.projectOverview {
    flex: 1;
}

.toolsInfo {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 1rem;
}

.projectOverviewPara {
    flex: 1;
}

.projectOverviewPara p {
    font-size: 1rem;
    color: #8A8F98;
    margin-top: 1rem;
    line-height: 1.5;
}



.mockupsContainer {
    color: #fff;
    margin: 0rem 15rem 0rem 15rem;

}

.image1Container {
    display: flex;
    justify-content: center;
}

.imagesContainer {
    margin-top: 2rem;
}

.image1Border {
    position: relative;
}

.image1Border::before, 
.image1Border::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #08090b;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    z-index: -1;
}

.image1Containers {
    aspect-ratio: 16 / 9;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: pulse 1s ease-in-out infinite;
}

.image1Containers::before, 
.image1Containers::after {
    position: absolute;
    --angle: 235deg;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #08090b, #1d2024, #08090b, #08090b);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    padding: 12px 12px;
    z-index: -1;
}

.image1Container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 50px;
}
  
.image1 {
    width: 100%; 
    height: auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    position: relative;
    border-radius: 10px;
}

.image1_2 {
    border-radius: 0;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideBottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.heroTextAnimation1.in-views {
    opacity: 0;
    animation: slideBottom 500ms ease 1200ms forwards;
}

.heroTextAnimation2.in-views {
    opacity: 0;
    animation: slideBottom 500ms ease 1400ms forwards;
}

.heroTextAnimation3.in-views {
    opacity: 0;
    animation: slideBottom 500ms ease 1600ms forwards;
}

.heroTextAnimation4.in-views {
    opacity: 0;
    animation: slideLeft 500ms ease 1800ms forwards;
}

.heroTextAnimation5.in-views {
    opacity: 0;
    animation: slideRight 500ms ease 2000ms forwards;
}

.heroTextAnimation6.in-views {
    opacity: 0;
    animation: slideLeft 500ms ease 2200ms forwards;
}






@media only screen and (min-width: 0px) and (max-width: 1199px){

    .mainContainer {
        gap: 150px;
    }

    .nav_menu {
        display: none;
    }

    .navbar .smallLogo {
        width: 30px;
        margin: 2rem;
    }  

    .openButton {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 2rem;
        color: white;
        cursor: pointer;
    }

    .home {
        margin: 10rem 2rem 0rem 2rem;
    }

    .heroTextContainer {
        display: none;
    }

    .mobileHeroContainer {
        display: block;
    }

    .mobileHeroContainer h1 {
        font-size: 3rem;
    }

    .mobileHeroContainer p {
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .mobileHeroContainer .mobileText {
        margin-top: 2rem;
    }

    .skills {
        margin: auto 2rem;
    }

    .skillsbox {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }

    .singleskill {
        height: 50px;
        padding: 0px 0px 0px 2rem;
    }

    .singleskill a{
        font-size: 0.9rem;
    }

    .singleskill i {
        font-size: 2rem;
    }

    .homeProjects {
        margin: auto 2rem;
    }

    .homeInnerProjectImageContainer {
        border-radius: 5px;
    }

    .homeInnerImageContainer {
        border-radius: 5px;
    }

    .homeInnerProjectInfoContainer h1 {
        font-size: 1.2rem;
    }

    .homeInnerProjectInfoContainer h2 {
        font-size: 0.9rem;
    }

    .resumeButton,
    .mailButton {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    /* ---------------------------------------------- */
    /* ---------------------------------------------- */
    /* ----------------- About Page ----------------- */
    /* ----------------------------------------------*/
    /* ---------------------------------------------- */
    
    .about {
        margin: 10rem 2rem 0rem 2rem;
    }

    .homeProjectsInfoContainer h2,
    .homeContactInfo h2,
    .skillscontainer h2,
    .aboutInfoContainer h2,
    .processInfoContainer h2,
    .servicesInfoContainer h2,
    .upcomingProjectsContainer h2,
    .imageCarousel h2,
    .contactInfoContainer h2,
    .projectInfo h2,
    .projectOverviewInfo h2,
    .imagesContainerInfo h2  {
        font-size: 1.2rem;
        padding: 0 0 0 1rem;
    }

    .homeProjectsInfoContainer h1,
    .homeContactInfo h1,
    .skillscontainer h1,
    .aboutInfoContainer h1,
    .processInfoContainer h1,
    .servicesInfoContainer h1,
    .upcomingProjectsContainer h1,
    .imageCarousel h1,
    .contactInfoContainer h1,
    .projectInfo h1,
    .projectOverviewInfo h1,
    .imagesContainerInfo h1  {
        font-size: 1.4rem;
        padding-top: 0.8rem;
    }

    .aboutTextContainer {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .aboutTextPara {
        flex-direction: column;
        font-size: 0.9rem;
    }   

    .aboutImageContainer {
        width: 60svw;
    }

    .numbersDetails {
        justify-content: start;
        gap: 2rem;
    }

    .eachNumberDetails span {
        font-size: 1.5rem;
    }

    .eachNumberDetails h1 {
        font-size: 0.9rem;
    }

    .processContainer {
        margin: auto 2rem;
    }

    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        gap: 2rem 4rem;
        margin-top: 4rem;
        max-width: fit-content;
    }

    .processBox {
        height: 15rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
    }

    .processBox .bxs-file-pdf {
        font-size: 2rem;
        color: #ffffff;
    }

    .processBox .processCircle {
        width: 0.8rem;
        height: 0.8rem;
        box-shadow: 0 2px 8px #fff;
    }

    .processBox .innerProcessBox {
        padding: 0.5rem;
        gap: 0.2rem;
    }

    .innerProcessBox h1 {
        font-size: 1.2rem;
    }

    .innerProcessBox p {
        font-size: 0.8rem;
    }

    .imageCarousel {
        color: #fff;
        margin: 0rem 2rem 0rem 2rem;
    }

    .imageCarousel p {
        font-size: 0.9rem;
        margin: 1rem 0 4rem 0;
    }

    .swiper {
        width: 90%;
        height: 350px;
    }

    .swiper-slide img {
        border-radius: 6px;
    }

    /* --------------------------------------------- */
    /* --------------------------------------------- */
    /* ----------------- Work Page ----------------- */
    /* --------------------------------------------- */
    /* --------------------------------------------- */

    .workProjects {
        margin: 10rem 2rem 0rem 2rem;
    }

    .homeInnerSecondRowProjectContainer {
        flex-direction: column;
    }

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /* ----------------- Contacts Page ----------------- */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */

    .contactContainer {
        margin: 10rem 2rem 0rem 2rem;
    }

    .contactInfo p {
        color: #8A8F98;
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .contactInfoContainer {
        flex-direction: column;
    }

    .emailContainer {
        margin-top: 2rem;
        padding: 1rem;
    }

    .emailInfoContainer h3,
    .phoneInfoContainer h3{
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .homeContact {
        position: relative;
    }

    .homeContactContainer {
        position: relative;
        margin: auto 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

    .homeContactInfoContainer {
        margin-top: 2rem;
    }

    .footer {
        flex-direction: column;
        margin-top: 2rem;
        gap: 3rem;
    }

    .quickLinks,
    .socialLinks {
        gap: 1rem;
    }

    .quickLinks h1,
    .socialLinks h1 {
        font-size: 1.2rem;
    }

    .quickLinks a,
    .socialLinks a {
        cursor: none;
        font-size: 0.9rem;
    }

    .footerInfo {
        margin: 2rem 2rem;  
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .footerInfo p {
        font-size: 0.9rem;
    }

    .contactLogo {
        width: 2rem;
        margin-bottom: 2rem;
    }

    .mainContainer2 {
        gap: 150px;
    }

    .coverHeroContainer {
        margin: 10rem 2rem 0rem 2rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: 0rem 2rem 0rem 2rem;
    }

    .projectOverviewInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .toolsInfo {
        grid-template-columns: repeat(1, 1fr);
    }

    .projectOverviewPara p {
        font-size: 0.9rem;
    }    
}   

@media only screen and (min-width: 425px) and (max-width: 1199px){

    .navbar .smallLogo {
        width: 30px;
        margin: 3rem;
    }  

    .openButton {
        font-size: 30px;
        right: 3rem;
    }

    .home {
        margin: 10rem 3rem 0rem 3rem;
    }  

    .skills {
        margin: auto 3rem;
    }
    
    .homeProjects {
        margin: auto 3rem;
    }

    /* ---------------------------------------------- */
    /* ---------------------------------------------- */
    /* ----------------- About Page ----------------- */
    /* ----------------------------------------------*/
    /* ---------------------------------------------- */
    
    .about {
        margin: 10rem 3rem 0rem 3rem;
    }

    .processContainer {
        margin: auto 3rem;
    }

    .imageCarousel {
        margin: 0rem 3rem 0rem 3rem;
    }

    /* --------------------------------------------- */
    /* --------------------------------------------- */
    /* ----------------- Work Page ----------------- */
    /* --------------------------------------------- */
    /* --------------------------------------------- */

    .workProjects {
        margin: 10rem 3rem 0rem 3rem;
    }

    .homeInnerSecondRowProjectContainer {
        flex-direction: column;
    }

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /* ----------------- Contacts Page ----------------- */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */

    .contactContainer {
        margin: 10rem 3rem 0rem 3rem;
    }

    
    .homeContactContainer {
        position: relative;
        margin: auto 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

    .footerInfo {
        margin: 2rem 3rem;  
    }

    .coverHeroContainer {
        margin: 10rem 3rem 0rem 3rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: 0rem 3rem;
    }


    .toolsInfo {
        grid-template-columns: repeat(1, 350px);
    }
} 

@media only screen and (min-width: 600px) and (max-width: 1199px){

    .navbar .smallLogo {
        width: 30px;
        margin: 3rem;
    }  

    .openButton {
        font-size: 30px;
        right: 2.5rem;
    }

    .home {
        margin: 10rem 3rem 0rem 3rem;
    }  
    
    .aboutImageContainer {
        width: 60svw;
        max-width: 400px;
    }

    .skills {
        margin: auto 3rem;
    }

    .skillsbox {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    /* ---------------------------------------------- */
    /* ---------------------------------------------- */
    /* ----------------- About Page ----------------- */
    /* ----------------------------------------------*/
    /* ---------------------------------------------- */
    
    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 2rem 2rem;
        margin-top: 4rem;
        max-width: fit-content;
    }

    /* --------------------------------------------- */
    /* --------------------------------------------- */
    /* ----------------- Work Page ----------------- */
    /* --------------------------------------------- */
    /* --------------------------------------------- */

    .homeInnerSecondRowProjectContainer {
        flex-direction: column;
    }

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /* ----------------- Contacts Page ----------------- */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    
    .homeContactContainer {
        position: relative;
        margin: auto 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   
    .emailContainer {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }

    .footerInfo {
        margin: 2rem 3rem;  
    }

    .footer {
        flex-direction: row;
        margin-top: 2rem;
        gap: 8rem;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 1199px){

    .mobileHeroContainer h1 {
        font-size: 4rem;
    }

    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 2rem 3rem;
        margin: 4rem auto;
        max-width: fit-content;
    }

    .processBox {
        height: 18rem;
        width: 18rem;
        gap: 1rem;
        padding: 2rem;
    }

    .processBox .innerProcessBox {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
    }

    .innerProcessBox h1 {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .innerProcessBox p {
        color: #8A8F98;
        font-size: 0.9rem;
    }

    .coverHeroContainer {
        margin: 10rem 3rem 0rem 3rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: 0rem 3rem;
    }

    .toolsInfo {
        grid-template-columns: repeat(2, 1fr);
    }

} 

@media only screen and (min-width: 1024px) and (max-width: 1199px){

    .navbar .smallLogo {
        width: 30px;
        margin: 5rem;
    }  

    .openButton {
        right: 4rem;
    }

    .home {
        margin: 10rem 5rem 0rem 5rem;
    }

    .mobileHeroContainer h1 {
        font-size: 5rem;
    }

    .mobileHeroContainer p {
        margin-top: 1rem;
        font-size: 1rem;
    }

    .skills {
        margin: auto 5rem;
    }

    .skillsbox {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .homeProjects {
        margin: auto 5rem;
    }

    .homeInnerSecondRowProjectContainer {
        flex-direction: row;
    }

    .homeInnerProjectInfoContainer h1 {
        font-size: 1.4rem;
    }

    .homeInnerProjectInfoContainer h2 {
        font-size: 1rem;
    }

    .resumeButton,
    .mailButton {
        font-size: 1rem;
    }

    /* ---------------------------------------------- */
    /* ---------------------------------------------- */
    /* ----------------- About Page ----------------- */
    /* ----------------------------------------------*/
    /* ---------------------------------------------- */
    
    .about {
        margin: 10rem 5rem 0rem 5rem;
    }

    .homeProjectsInfoContainer h2,
    .homeContactInfo h2,
    .skillscontainer h2,
    .aboutInfoContainer h2,
    .processInfoContainer h2,
    .servicesInfoContainer h2,
    .upcomingProjectsContainer h2,
    .imageCarousel h2,
    .contactInfoContainer h2,
    .projectInfo h2,
    .projectOverviewInfo h2,
    .mockupsContainer h2  {
        font-size: 1.2rem;
        padding: 0 0 0 1rem;
    }

    .homeProjectsInfoContainer h1,
    .homeContactInfo h1,
    .skillscontainer h1,
    .aboutInfoContainer h1,
    .processInfoContainer h1,
    .servicesInfoContainer h1,
    .upcomingProjectsContainer h1,
    .imageCarousel h1,
    .contactInfoContainer h1,
    .projectInfo h1,
    .projectOverviewInfo h1,
    .mockupsContainer h1  {
        font-size: 1.8rem;
        padding-top: 0.8rem;
    }

    .aboutTextPara {
        flex-direction: column;
        font-size: 1rem;
    }   

    .eachNumberDetails h1 {
        font-size: 1rem;
    }

    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        gap: 4rem 3rem;
        margin: 4rem auto;
        max-width: fit-content;
    }

    .processBox {
        height: 20rem;
        width: 20rem;
        gap: 1rem;
        padding: 2rem;
    }

    .processBox .bxs-file-pdf {
        font-size: 2rem;
    }

    .processBox .processCircle {
        width: 1rem;
        height: 1rem;
        box-shadow: 0 4px 12px #fff;
    }

    .processBox .innerProcessBox {
        padding: 1rem;
        gap: 0.5rem;
    }

    .innerProcessBox h1 {
        font-size: 1.5rem;
    }

    .innerProcessBox p {
        font-size: 0.9rem;
    }

    .imageCarousel {
        color: #fff;
        margin: 0rem 5rem 0rem 5rem;
    }

    .imageCarousel p {
        font-size: 0.9rem;
        margin: 1rem 0 4rem 0;
    }

    .swiper {
        width: 90%;
        height: 350px;
    }

    .swiper-slide img {
        border-radius: 6px;
    }

    /* --------------------------------------------- */
    /* --------------------------------------------- */
    /* ----------------- Work Page ----------------- */
    /* --------------------------------------------- */
    /* --------------------------------------------- */

    .workProjects {
        margin: 10rem 5rem 0rem 5rem;
    }

    .homeInnerSecondRowProjectContainer {
        flex-direction: row;
    }

    /* ------------------------------------------------- */
    /* ------------------------------------------------- */
    /* ----------------- Contacts Page ----------------- */
    /* ------------------------------------------------- */
    /* ------------------------------------------------- */

    .contactContainer {
        margin: 10rem 5rem 0rem 5rem;
    }

    .contactInfo p {
        color: #8A8F98;
        margin-top: 1rem;
        font-size: 0.9rem;
    }

    .contactInfoContainer {
        flex-direction: column;
    }

    .emailContainer {
        margin-top: 2rem;
        padding: 1rem;
    }

    .emailInfoContainer h3,
    .phoneInfoContainer h3{
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .homeContact {
        position: relative;
    }

    .homeContactContainer {
        position: relative;
        margin: auto 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

    .homeContactInfoContainer {
        margin-top: 2rem;
    }

    .footer {
        flex-direction: row;
        margin-top: 2rem;
        gap: 8rem;
    }

    .quickLinks,
    .socialLinks {
        gap: 1rem;
    }

    .quickLinks h1,
    .socialLinks h1 {
        font-size: 1.2rem;
    }

    .quickLinks a,
    .socialLinks a {
        cursor: none;
        font-size: 0.9rem;
    }

    .footerInfo {
        margin: 2rem 5rem;  
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .footerInfo p {
        font-size: 0.9rem;
    }

    .contactLogo {
        width: 2rem;
        margin-bottom: 2rem;
    }

    .coverHeroContainer {
        margin: 10rem 5rem 0rem 5rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: auto 5rem;
    }

    .toolsInfo {
        grid-template-columns: repeat(2, 350px);
    }

    .projectOverviewPara p {
        font-size: 1rem;
    }  
}  

@media only screen and (min-width: 1200px) and (max-width: 1919px){

    .nav_menu {
        gap: 4rem;
        margin: auto 6rem;
    }

    .navbar .smallLogo {
        margin: auto 6rem;
    }  

    .nav_menu a {
        font-size: 0.9rem;
    }

    .home {
        background-color: #08090b;
        color: #fff;
        margin: 10rem 10rem 0rem 10rem;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(1) h1,
    .mobileHeroContainer h1 {
        font-size: 80px;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(2) h1 {
        font-size: 120px;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(3) h1 {
        font-size: 120px;
    }

    .resumeButton,
    .mailButton {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .myDesc,
    .mobileHeroContainer p {
        font-size: 0.9rem;
    }

    .homeProjectsInfoContainer h2,
    .homeContactInfo h2,
    .skillscontainer h2,
    .aboutInfoContainer h2,
    .processInfoContainer h2,
    .servicesInfoContainer h2,
    .upcomingProjectsContainer h2,
    .imageCarousel h2,
    .contactInfoContainer h2,
    .projectInfo h2,
    .projectOverviewInfo h2,
    .mockupsContainer h2  {
        font-size: 1.4rem;
        padding: 0 0 0 1rem;
    }

    .homeProjectsInfoContainer h1,
    .homeContactInfo h1,
    .skillscontainer h1,
    .aboutInfoContainer h1,
    .processInfoContainer h1,
    .servicesInfoContainer h1,
    .upcomingProjectsContainer h1,
    .imageCarousel h1,
    .contactInfoContainer h1,
    .projectInfo h1,
    .projectOverviewInfo h1,
    .mockupsContainer h1  {
        font-size: 2rem;
        padding-top: 0.8rem;
    }

    .skills {
        margin: auto 10rem;
    }

    .skillsbox {
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }

    .singleskill {
        height: 50px;
        padding: 0px 0px 0px 2rem;
    }

    .singleskill a{
        font-size: 0.9rem;
    }

    .singleskill i {
        font-size: 2rem;
    }

    .homeProjects {
        margin: auto 10rem;
    }

    .homeContactContainer {
        margin: auto 10rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }  

    .footerInfo {
        margin: 3rem 10rem;  
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .footerInfo p {
        font-size: 0.9rem;
    }

    .contactLogo {
        width: 2rem;
        margin-bottom: 2rem;
    }

    .about {
        margin: 10rem 8rem 0rem 8rem;
    }

    .aboutTextContainer {
        position: relative;
        gap: 5rem;
        margin-bottom: 2rem;
    }

    .aboutTextPara {
        flex-direction: column;
        font-size: 0.9rem;
    }   

    .aboutImageContainer {
        width: 30svw;
    }

    .numbersDetails {
        justify-content: start;
        gap: 2rem;
    }

    .eachNumberDetails span {
        font-size: 2rem;
    }

    .eachNumberDetails h1 {
        font-size: 1rem;
    }

    .processContainer {
        margin: auto 8rem;
    }

    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        gap: 2rem 2rem;
        margin-top: 4rem;
    }

    .processBox {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
    }

    .processBox .bxs-file-pdf {
        font-size: 2rem;
        color: #ffffff;
    }

    .processBox .processCircle {
        width: 0.8rem;
        height: 0.8rem;
        box-shadow: 0 2px 8px #fff;
    }

    .processBox .innerProcessBox {
        padding: 0.5rem;
        gap: 0.2rem;
    }

    .innerProcessBox h1 {
        font-size: 1.2rem;
    }

    .innerProcessBox p {
        font-size: 0.8rem;
    }

    .imageCarousel {
        color: #fff;
        margin: 0rem 8rem;
    }

    .imageCarousel p {
        font-size: 0.9rem;
        margin: 1rem 0 4rem 0;
    }

    .swiper {
        width: 90%;
        height: 400px;
    }

    .workProjects {
        margin: 10rem 10rem 0rem 10rem;
    }

    .contactContainer {
        margin: 10rem 10rem 0rem 10rem;
    }

    .contactInfo p {
        font-size: 0.9rem;
    }

    .contactInfoContainer {
        flex-direction: row;
    }

    .emailContainer {
        margin-top: 2rem;
        padding: 2rem 4rem;
    
    }

    .emailInfoContainer h3,
    .phoneInfoContainer h3{
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .homeContact {
        position: relative;
    }

    .homeContactContainer {
        position: relative;
        margin: auto 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }   

    .homeContactInfoContainer {
        margin-top: 2rem;
    }

     .mainContainer2 {
        gap: 150px;
    }

    .coverHeroContainer {
        margin: 10rem 10rem 0rem 10rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: 0rem 10rem;
    }

    .projectOverviewInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .toolsInfo {
        grid-template-columns: repeat(2, 350px);
    }

    .projectOverviewPara p {
        font-size: 0.9rem;
    }        


} 

@media only screen and (min-width: 1440px) and (max-width: 1919px){

    .nav_menu {
        gap: 4rem;
        margin: auto 6rem;
    }

    .navbar .smallLogo {
        margin: auto 6rem;
    }  

    .nav_menu a {
        font-size: 0.9rem;
    }

    .home {
        background-color: #08090b;
        color: #fff;
        margin: 10rem 10rem 0rem 10rem;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(1) h1,
    .mobileHeroContainer h1 {
        font-size: 100px;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(2) h1 {
        font-size: 140px;
    }

    .heroTextContainer > .heroTextContainer1:nth-child(3) h1 {
        font-size: 140px;
    }

    .resumeButton,
    .mailButton {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    .myDesc,
    .mobileHeroContainer p {
        font-size: 0.9rem;
    }

    .homeProjectsInfoContainer h2,
    .homeContactInfo h2,
    .skillscontainer h2,
    .aboutInfoContainer h2,
    .processInfoContainer h2,
    .servicesInfoContainer h2,
    .upcomingProjectsContainer h2,
    .imageCarousel h2,
    .contactInfoContainer h2,
    .projectInfo h2,
    .projectOverviewInfo h2,
    .mockupsContainer h2  {
        font-size: 1.5rem;
        padding: 0 0 0 1rem;
    }

    .homeProjectsInfoContainer h1,
    .homeContactInfo h1,
    .skillscontainer h1,
    .aboutInfoContainer h1,
    .processInfoContainer h1,
    .servicesInfoContainer h1,
    .upcomingProjectsContainer h1,
    .imageCarousel h1,
    .contactInfoContainer h1,
    .projectInfo h1,
    .projectOverviewInfo h1,
    .mockupsContainer h1  {
        font-size: 2.4rem;
        padding-top: 0.8rem;
    }

    .skills {
        margin: auto 10rem;
    }

    .skillsbox {
        grid-template-columns: repeat(4, 1fr);
        gap: 8px;
    }

    .singleskill {
        height: 50px;
        padding: 0px 0px 0px 2rem;
    }

    .singleskill a{
        font-size: 0.9rem;
    }

    .singleskill i {
        font-size: 2rem;
    }

    .homeProjects {
        margin: auto 10rem;
    }

    .homeContactContainer {
        margin: auto 10rem;
        display: flex;
        gap: 1rem;
        flex-direction: row;
    }  

    .footerInfo {
        margin: 3rem 10rem;  
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .footerInfo p {
        font-size: 0.9rem;
    }

    .contactLogo {
        width: 2rem;
        margin-bottom: 2rem;
    }

    .about {
        margin: 10rem 8rem 0rem 8rem;
    }

    .aboutTextContainer {
        position: relative;
        gap: 5rem;
        margin-bottom: 2rem;
    }

    .aboutTextPara {
        flex-direction: column;
        font-size: 0.9rem;
    }   

    .aboutImageContainer {
        width: 30svw;
    }

    .numbersDetails {
        justify-content: start;
        gap: 2rem;
    }

    .eachNumberDetails span {
        font-size: 2rem;
    }

    .eachNumberDetails h1 {
        font-size: 1rem;
    }

    .processContainer {
        margin: auto 8rem;
    }

    .processBoxContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        gap: 2rem 2rem;
        margin-top: 4rem;
        width: fit-content;
    }

    .processBox {
        height: 18rem;
        width: 16rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem;
    }

    .processBox .bxs-file-pdf {
        font-size: 2rem;
        color: #ffffff;
    }

    .processBox .processCircle {
        width: 0.8rem;
        height: 0.8rem;
        box-shadow: 0 2px 8px #fff;
    }

    .processBox .innerProcessBox {
        padding: 1rem;
        gap: 0.2rem;
    }

    .innerProcessBox h1 {
        font-size: 1.4rem;
    }

    .innerProcessBox p {
        font-size: 0.9rem;
    }

    .imageCarousel {
        color: #fff;
        margin: 0rem 8rem;
    }

    .imageCarousel p {
        font-size: 0.9rem;
        margin: 1rem 0 4rem 0;
    }

    .swiper {
        width: 90%;
        height: 450px;
    }

    .workProjects {
        margin: 10rem 10rem 0rem 10rem;
    }

    .contactContainer {
        margin: 10rem 10rem 0rem 10rem;
    }

    .contactInfo p {
        font-size: 0.9rem;
    }

    .contactInfoContainer {
        flex-direction: row;
    }

    .emailContainer {
        margin-top: 2rem;
        padding: 2rem 4rem;
    
    }

    .emailInfoContainer h3,
    .phoneInfoContainer h3{
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .homeContact {
        position: relative;
    }

    .homeContactContainer {
        position: relative;
        margin: auto 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }   

    .homeContactInfoContainer {
        margin-top: 2rem;
    }

     .mainContainer2 {
        gap: 150px;
    }

    .coverHeroContainer {
        margin: 10rem 10rem 0rem 10rem;
    }

    .projectOverviewContainer,
    .mockupsContainer {
        margin: 0rem 10rem;
    }

    .projectOverviewInfoContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .projectOverviewPara p {
        font-size: 1rem;
    }    

} 

 @media only screen and (min-width: 1920px){

    .myLogo {
        width: 400px;
    }

    .home {
        max-width: 1920px;
        width: 100%;
        margin: 10rem auto 0rem auto;
    }

    .navContainer {
        width: 100%;
    }

    .navbar {
        max-width: 1920px;
    }

    .skillscontainer {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .homeProjects {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }

    .homeContact {
        width: 100%;
        margin-top: auto;
        overflow: hidden;
    }

    .homeContactContainer,
    .footerInfo {
        max-width: 1440px;
        margin: 4rem auto;
    }

    .about {
        width: 100%;
        max-width: 1440px;
        margin: 10rem auto 0rem auto;
    }

    .aboutImageContainer {
        border-bottom: 2px solid #1d2024;
        width: 25svw;
        max-width: 480px;
    }
  
    .aboutImage {
        height: auto;
        width: 100%;
    }

    .processContainer {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;        
    }

    .imageCarousel {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;        
    }

    .workProjects {
        width: 100%;
        max-width: 1440px;
        margin: 10rem auto 0rem auto;   
    }

    .contactContainer {
        width: 100%;
        max-width: 1440px;
        margin: 10rem auto 0rem auto;   
    }   

    .coverHeroContainer {
        width: 100%;
        max-width: 1440px;
        margin: 10rem auto 0rem auto;   
    }

    .projectOverviewContainer {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;    
    }

    .mockupsContainer {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto; 
    }
} 