@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #5e5e5e;
    border-radius: 2px;
}

html::-webkit-scrollbar-track {
    background-color: #34343a;
    border-left: 1px solid #1e1f21;
}

body {
    font-family: 'League Spartan', sans-serif;
    background-color: #08090b;
}

.intro{
	position: fixed;
	z-index: 1000;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: #161616;
	transition: 1s;
}

.logo-header{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo-header #mylogo {
    width: 500px;
    height: 500px;
}

.logo{
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 1;
}

.logo.active{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade{
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.window-scroll {
    background: #21242b;
}

.transition-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    background-color: #21242b;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.transition-1.is-active {
    opacity: 1;
    pointer-events: all;
}

.transition-2 {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 200;
    background-color: #21242b;
    transition: 1.2s ease-out;
}

.transition-2.is-active {
    left: 0%;
}

.aboutTransition {
    position: relative;
    font-size: 50px;
    color: #fff;
    left: 50%;
    top: 50%;
}

.transitionLogo {
    position: relative; 
    width: 50px;
    top: 90%;
    left: 85%;
}

.home {
    min-height: 90svh;
    background-color: #08090b;
    display: flex;
    flex-direction: row;
    border: 1px solid #fff;
}

nav {
    position: relative;
    margin-left: auto;
    margin-right: 6.25rem;
}

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 99;
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_container .bx-menu{
    position: relative;
    color: #ffffff;
    display: none;
}

.nav_container .smallLogo {
    position: relative;
    left: 6.25rem;
    width: 42px;
}  

.smallLogoAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 200ms;
}

.nav_menu {
    position: relative;
    display: flex;
    gap: 6.25rem;
}

.navMenuAnimation.in-view li:nth-child(1),
.navMenuAnimation.in-view li:nth-child(2),
.navMenuAnimation.in-view li:nth-child(3),
.navMenuAnimation.in-view li:nth-child(4) {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.navMenuAnimation.in-view li:nth-child(1) {
    animation-delay: 200ms;
}
.navMenuAnimation.in-view li:nth-child(2) {
    animation-delay: 400ms;
}
.navMenuAnimation.in-view li:nth-child(3) {
    animation-delay: 600ms;
}
.navMenuAnimation.in-view li:nth-child(4) {
    animation-delay: 800ms;
}

@keyframes slideLeft { 
    from {
        opacity: 0;
        transform: translateX(-50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

.nav_menu a:after,
.nav_menu a:before {
    transition: all .5s;
}

.nav_menu a {
    color: #ffffff;
    position: relative;
    top: 2px;
    opacity: 0.7;
    font-size: 1.5rem;
}

.nav_menu a:after {
    position: absolute;
    top: 22px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 2px;
}

.nav_menu a:hover:after {
    width: 100%;
}

.nav_menu a:hover {
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0px;
    height: 250px;
    border-radius: 5px;
    width: 100%;
    z-index: 10;
    background-color: #21242b;
    display: none;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    animation: slideBottom 0.3s ease;
}

@keyframes slideBottom {
    from {
        height: 0%;
    }
    to {
        height: 250px;
    }
}

.sidebar li a {
    color: #fff;
    position: relative;
    top: 10px;
    right: 25px;
}

.sidebar li a:nth-child(1) {
    opacity: 0;
    animation: slideBottom232 2s ease forwards;
}

@keyframes slideBottom232 {
    from {
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.sidebar .bx-x {
    position: fixed;
    top: 25px;
    right: 20px;
    font-size: 30px;
    opacity: 1;
    color: #ffffff;
}

.homeContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 12%;
    width: 100%;
}

.homeContent .hello,
.homeContent .myJob {
    color: #f7f8f8;
    position: relative;
    font-size: 40px;
    padding-top: 20px;
    font-weight: 100;
}

.homeContent .myJob {
    line-height: 1.1;
}

.homeContent .helloAnimation.in-view,
.homeContent .myJobAnimation.in-view {
    opacity: 0;
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
}

.homeContent .helloAnimation.in-view {
    animation-delay: 50ms; 
}

.homeContent .myJobAnimation.in-view {
    animation-delay: 150ms;
}

.homeContent .myName {
    position: relative;
    color: #f7f8f8;
    font-size: 60px;
    font-weight: 100;
    padding-top: 20px;
}

.homeContent .myNameAnimation.in-view {
    opacity: 0;
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

span {
    color: #8a8f98;
}

.homeContent .myInfo {
    position: relative;
    padding-top: 20px;
    color: #d0d6e0;
    font-size: 24px;
    line-height: 1.2;
}

.homeContent .myInfoAnimation.in-view {
    opacity: 0;
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

.social-media {
    position: relative;
    padding-top: 20px;
    list-style: none;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1.5px solid #34343a;
    border-radius: 100%;
    font-size: 24px;
    color: #fff;
    margin: 0px 10px 0px 0px;
}

.socialMediaAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.social-media a:nth-child(1) {
    animation-delay: 250ms;
}
.social-media a:nth-child(2) {
    animation-delay: 300ms;
}
.social-media a:nth-child(3) {
    animation-delay: 350ms;
}
.social-media a:nth-child(4) {
    animation-delay: 400ms;
    animation-iteration-count: 1;
}

.social-media a:hover {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #000;
    box-shadow: 0 0 20px #fff;
}

.social-media a:hover i{
    animation: rotate 0.5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes rotate {
    0% { 
        transform:  rotate(15deg); 
    }
    50% { 
        transform:  rotate(-15deg); 
    }
    100% { 
        transform:  rotate(0deg); 
    }
}

.links {
    position: relative;
    padding-top: 20px;
    display: flex;
    gap: 10px;
}

.aboutButton,
.resumeButton {
    position: relative;
    padding: 10px 25px;
    font-family: League Spartan;
    font-size: 20px;
    border-radius: 3px;
    border: 1.5px solid #3e3e44;
    background-color: #08090b;
    color: #f7f8f8;
}

.aboutAnimation.in-view,
.resumeAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.aboutAnimation.in-view {
    animation-delay: 450ms;
}

.resumeAnimation.in-view {
    animation-delay: 500ms;
    background-color: #3e3e44;
}

.resumeButton:hover {
    cursor: pointer;
    color: #000;
    background-color: #ffffff;
    transition: all 1s ease;
    box-shadow: 0 0 10px #fff;
    border: 1.5px solid #ffffff;
}

.aboutButton:hover {
    border: 1.5px solid #fff;
    cursor: pointer;
    color: #000000;
    background-color: #ffffff;
    transition: all 1s ease;
    box-shadow: 0 0 5px #fff;
}

.numbersDetails {
    display: flex;
    padding: 50px 0px 0px;
    justify-content: start;
    gap: 100px;
}

.numbersDetailsAnimation.in-view :nth-child(1) {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 550ms;
}

.numbersDetailsAnimation.in-view :nth-child(2) {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 600ms;
}

.eachNumberDetails span {
    color: #d0d6e0;
    font-size: 48px;
    font-weight: 400;
}

.eachNumberDetails h1 {
    color: #8a8f98;
    font-size: 24px;
    font-weight: 100;
}

.imgbody {
    position: relative;
    height: 25rem;
    width: 25rem;
    z-index: 1;
}

.imgAnimation.in-view {
    animation: slideRight 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}
@keyframes slideRight {
    from {
        transform: translateX(50px);
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.img-wrap1::after,
.img-wrap1::before {
    position: absolute;
    content: '';
    height: 25rem;
    width: 25rem;
    background-image: conic-gradient(transparent 30%, #5e5e5e);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    padding: 20px;
    z-index: -2;
}

.img-wrap2::after,
.img-wrap2::before {
    position: absolute;
    content: '';
    height: 25rem;
    width: 25rem;
    background: #000;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    translate: -50% -50%;
    padding: 17px;
    z-index: -1;
}

.img-wrap1::before {
    filter: blur(10px);
    opacity: 0.5;
    z-index: -3;
}

.avatarImage {
    border-radius: 50%;
    width: 25rem;
}

.services {
    min-height: 100svh;
    background: #08090b;
    font-weight: 100;
}

.services_container{
    position: relative;
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
}

.services_container h1{
    font-size: 60px;
    margin-bottom: 30px;
    color: #f7f8f8;
    font-weight: 100;
}

.services_container .servicesAnimationH.in-view {
    animation: slideLeft 1s ease;
    animation-fill-mode: forwards;
    opacity: 0;
}

.services_container .servicesAnimationP.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 200ms;
    opacity: 0;
}

.services_container p {
    font-size: 2rem;
    color: #d0d6e0;
    font-weight: 100;
}

.content-box{
    top: 30px;
    position: relative;
    display: flex;
    gap: 30px;
    z-index: 2;
}

.servicesOneContainerAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.servicesAnimationContentBox .servicesOneContainerAnimation:nth-child(1).in-view {
    animation-delay: 600ms;
}

.servicesAnimationContentBox .servicesOneContainerAnimation:nth-child(2).in-view {
    animation-delay: 550ms;
}

.servicesAnimationContentBox .servicesOneContainerAnimation:nth-child(3).in-view {
    animation-delay: 500ms;
}

.servicesOneContainer {
    position: relative;
    height: 220px;
    width: 380px;
    border-radius: 5px;
    z-index: 1;
}

.servicesOneContainer:hover {
    cursor: default;
}

.servicesOneContainer:hover i {
    color: #f7f8f8;
    transition: all 0.5s ease;
}

.section1 {
    color: #Fff;
}

.hidden {
    display: none; 
}

.visible {
    display: block; 
}

.servicesOneContainer::after,
.servicesOneContainer::before {
    --angle: 180deg;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle),#08090b, #08090b, #3e3e44, #08090b, #08090b, #08090b);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5px 1.5px;
    z-index: -1;
} 

.singlecard {
    --angle: 180deg;
    background: 
    radial-gradient(circle, #08090b 0%, transparent 100%), 
    conic-gradient(from var(--angle), #08090b, #08090b, #0c0e11, #1e1f21, #0c0e11, #08090b, #08090b, #08090b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
}

.singlecard i{
    font-size: 48px;
    position: relative;
    color: #5e5e5e;
}
  
.singlecard h2{
    position: relative;
    font-size: 28px;
    font-weight: 400;
    background: linear-gradient(to right, white 10%, #a5a5a5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
.singlecard p {
    position: relative;
    font-size: 20px;
    color: #8a8f98;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.5;
}
  
.skillscontainer {
    padding-top: 50px;
}

.skillscontainer h1 {
    color: #d0d6e0;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.servicesAnimationT.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
    opacity: 0;
}

.skillsbox {
    position: relative;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;    
    gap: 10px;
    z-index: 1;
}

.singleskill {
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 300px;
    border-radius: 5px;
    padding: 0px 0px 0px 30px;
    align-items: center;
    border: 1px solid #23252a;
    background-color: #141517;
}

.singleSkillAnimations.in-view {
    animation: slideLeft 1s ease;
    animation-delay: 700ms; 
    animation-fill-mode: forwards;
    opacity: 0;
}

.singleSkillAnimations:nth-child(1).in-view {
    animation-delay: 600ms;
}
.singleSkillAnimations:nth-child(2).in-view {
    animation-delay: 650ms;
}
.singleSkillAnimations:nth-child(3).in-view {
    animation-delay: 700ms;
}
.singleSkillAnimations:nth-child(4).in-view {
    animation-delay: 750ms;
}
.singleSkillAnimations:nth-child(5).in-view {
    animation-delay: 800ms;
}
.singleSkillAnimations:nth-child(6).in-view {
    animation-delay: 850ms;
}
.singleSkillAnimations:nth-child(7).in-view {
    animation-delay: 900ms;
}
.singleSkillAnimations:nth-child(8).in-view {
    animation-delay: 950ms;
}
.singleSkillAnimations:nth-child(9).in-view {
    animation-delay: 1000ms;
}
.singleSkillAnimations:nth-child(10).in-view {
    animation-delay: 1050ms;
}
.singleSkillAnimations:nth-child(11).in-view {
    animation-delay: 1100ms;
}
.singleSkillAnimations:nth-child(12).in-view {
    animation-delay: 1150ms;
}

.singleskill a{
    position: relative;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
    color: #a7acb4;
    transition: all 0.5s ease;
}

.singleskill i {
    font-size: 40px;
    color: #3e3e3e; 
}

.singleskill:hover {
    transition: all 0.5s ease;
    cursor: default;
    background-color: #21242b;
    transform: scale(1.05);
}

.singleskill:hover i,
.singleskill:hover .downloadIcon {
    transform:rotate(10deg);
    transition: all 0.5s ease;
    color: #f7f8f8;
}

.projects {
    background: #08090b;
    min-height: 200svh;
}

.projectsinfo {
    position: relative;
}

.projectsinfo h1 {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    font-weight: 100;
    font-size: 60px;
} 

.projectsAnimationTitle.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.projectsinfo p {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

.projectsAnimationSubtitle.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 200ms;
}

.projects_container {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: auto;
    top: 80px;
}

.projectCard {
    position: relative;
    justify-content: center;
    display: flex;
    height: auto;
    width: 100%;
    z-index: 1;
}

.projectCard:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.imgContainer {
    position: relative;
    width: 40%;
    left: -25px;
    border-radius: 5px;
}

.img1 {
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    display: block;
    justify-content: center;
    border: 1px solid #21242b;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.img1Animation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.img1Animation2.in-view {
    animation: slideRight 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.img1:hover {
    box-shadow: 0px 0px 10px #161616;
}

.infoContainer1 {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.projectCard:nth-child(2) .infoContainer1 {
    left: -25px;
}

.projectCard:nth-child(2) .imgContainer{
    left: 0px;
}

.projectCard:nth-child(2) .infoContainer1 h2,
.projectCard:nth-child(2) .infoContainer1 .icons1,
.projectCard:nth-child(2) .infoContainer1 .navigateButtons {
    text-align: start;
    justify-content: flex-start;
}

.infoContainer1 h2 {
    position: relative;
    width: 100%;
    text-align: end;
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
}

.projectsAnimationProjectTitle.in-view {
    animation: slideRight 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.projectsAnimationProjectTitle2.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.eachInfo1 {
    position: relative;
    border-radius: 5px;
    border: 1.5px solid #21242b;
    width: 100%;
    color: #fff;
    padding: 20px 10px 20px 10px;
}

.eachinfo1 p {
    position: relative;
    font-size: 20px;
    line-height: 1.2;
    opacity: 0.9;
}

.projectsAnimationProjectPara.in-view {
    animation: slideRight 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.projectsAnimationProjectPara2.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 500ms;
}

.icons1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    gap: 30px;
}

.iconsAnimation.in-view {
    animation: slideRight 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 600ms;
}

.iconsAnimation2.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 600ms;
}

.icons1 i{
    font-size: 36px;
    position: relative;
    padding-left: 5px;
    color: #5e5e5e;
}

.icons1 p{
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.navigateButtons {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.detailsButton {
    position: relative;
    padding: 10px 20px;
    font-family: League Spartan;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1.5px solid #21242b;
    background-color: #000;
    color: #fff;
}

.detailsAnimation.in-view {
    animation: slideRight 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 700ms; 
}

.detailsAnimation2.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 700ms; 
}

.detailsButton:hover {
    cursor: pointer;
    color: #000;
    background-color: #ffffff;
    transition: all 1s ease;
    box-shadow: 0 0 10px #fff;
    border: 1.5px solid #ffffff;
}

.contact {
    position: relative;
    min-height: 100svh;
    background-color: #08090b;
    display: flex;
    flex-direction: column;
}

.contactinfo {
    position: relative;
    text-align: center;
    top: 20px;
}

.contactinfo h2,
.contactinfoForm h2 {
    position: relative;
    color: #fff;
    font-weight: 100;
    font-size: 60px;
}

.contactAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0ms; 
}

.contactinfo h3 {
    position: relative;
    font-size: 40px;
    color: #fff;
    font-weight: 500;
    padding: 20px 0px 0px 0px;
}

.contactWorkAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 100ms; 
}

.contactinfo p {
    position: relative;
    color: #fff;
    line-height: 1.2;
    font-size: 24px;
    opacity: 0.8;
    padding: 20px 0px 0px 0px;
}

.contactParaAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 200ms;
}

.contactinfo h1 {
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 0px 0px 0px;
}

.contactThankAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 300ms;
}

.contactButton {
    position: relative;
    padding: 30px 0px;
    margin: auto;
    text-align: center;
}

.contactButtonAnimation.in-view {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 400ms;
}

.mailButton {
    position: relative;
    padding: 12px 20px;
    font-family: League Spartan;
    font-size: 1.3rem;
    border-radius: 3px;
    border: 1.5px solid #21242b;
    background-color: #000;
    color: #fff;
}

.mailButton:hover {
    cursor: pointer;
    color: #000;
    background-color: #ffffff;
    transition: all 1s ease;
    box-shadow: 0 0 10px #fff;
    border: 1.5px solid #ffffff;
}

.footer {
    background-color: #08090b;
    min-height: 200px;
    border-top: 2px solid #161616;
    width: 100%;
    overflow: auto;
    margin-top: auto;
}

.footericons {
    position: relative;
    text-align: center;
}

.footericons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1.5px solid #5e5e5e;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    margin: 30px 10px 30px 0;
    transition: 0.5s;
}

.footericons a:hover {
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 0 15px #fff;
    border: 1.5px solid #ffffff;
}

.footericons a:hover i{
    animation: rotate 0.5s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.footerinfo {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerinfo p {
    color: #d0d6e0;
}



@media only screen and (min-width: 0px) and (max-width: 1023px){

    .home {
        min-height: 850px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .nav_menu {
        display: none;
    }
        
    .nav_container .smallLogo{
        width: 24px;
        top: 0px;
        left: 30px;
    }  

    .logo-header #mylogo {
        width: 200px;
    }
        
    .nav_container .bx-menu {
        display: block;
        top: 0px;
        right: 20px;
        font-size: 30px;
        color: #ffffff; 
    }

    .imgbody {
        width: 150px;
        height: 150px;
    }

    .avatarImage {
        width: 150px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 150px;
        height: 150px;
        padding: 12px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 150px;
        height: 150px;
        padding: 10px;
    }

    .homeContainer {
        padding: 0px;
    }

    .homeContent {
        position: relative;
        width: 200px;
        top: 20px;
    }

    .homeContent .hello,
    .homeContent .myJob {
        font-size: 20px;
        position: relative;
        text-align: center;
    }

    .homeContent .myName {
        font-size: 30px;
        position: relative;
        text-align: center;
    }

    .homeContent .myInfo {
        font-size: 16px;
        text-align: center;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .social-media a {
        font-size: 16px;
        height: 35px;
        width: 35px;
    }

    .homeContainer {
        display: flex;
        top: 150px;
        flex-direction: column-reverse;
    }

    .homeContainer h1 {
        position: relative;
    }

    .homeContainer .links {
        justify-content: center;
    }

    .aboutButton,
    .resumeButton {
        padding: 8px 15px;
        font-size: 1rem;
    }

    .homeContainer .numbersDetails {
        padding-top: 20px;
        justify-content: center;
        gap: 20px;
    }

    .eachNumberDetails h1 {
        font-size: 14px;
    }

    .eachNumberDetails span {
        font-size: 20px;
    }
        
    .services {
        min-height: 1200px;
    }

    .services_container {
        display: flex;
        flex-direction: column;
        top: 0px;
    }

    .services_container h1 {
        font-size: 32px;
    }

    .services_container p {
        font-size: 20px;
        position: relative;
        top: -10px;
    }

    .content-box {
        display: flex;
        flex-direction: column;
    }

    .servicesOneContainer {
        width: 220px;
        height: 120px;
    }

    .singlecard i {      
        font-size: 20px;
    }

    .singlecard h2 {
        font-size: 16px;
        padding-bottom: 5px;
    }

    .singlecard p {
        font-size: 12px;
    }

    .skillscontainer h1 {
        top: 0px;
    }

    .skillsbox {
        grid-template-columns: repeat(2, 1fr);
    }

    .singleskill {
        height: 50px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }

    .singleskill a{
        position: relative;
        font-size: 14px;
        padding: 5px 0px;
    }

    .singleskill i {
        font-size: 20px;
    }

    .projects {
        min-height: 1450px;
    }

    .projectsinfo {
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectsinfo h1 {
        font-size: 30px;
    }

    .projectsinfo p {
        font-size: 20px;
        width: 250px;
    }

    .projects_container {
        display: flex;
        gap: 40px;
    }

    .projectCard,
    .projectCard:nth-child(2) {
        display: block;
        top: -60px;
        height: auto;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        left: 0px;
    }

    .img1 {
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        top: 0px;
        left: 0px;
        margin: auto;
        width: 250px;
    }

    .projectCard:nth-child(2) .infoContainer1 h2,
    .projectCard:nth-child(2) .infoContainer1 .icons1,
    .projectCard:nth-child(2) .infoContainer1 .navigateButtons {
        text-align: center;
        justify-content: center;
    }

    .infoContainer1 h2 {
        font-size: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .eachInfo1 p {
        font-size: 14px;
    }

    .icons1 {
        justify-content: center;
        gap: 20px;
    }

    .icons1 p {
        font-size: 14px;
    }

    .icons1 i {
        font-size: 24px;
    }

    .navigateButtons {
        justify-content: center;
    }

    .detailsButton {
        font-size: 0.8rem;
        padding: 8px 15px;
    }

    .contact {
        min-height: 650px;
    }

    .contactinfo {
        top: 50px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactinfo h2 {
        font-size: 30px;
    }

    .contactinfo h3 {
        font-size: 24px;
    }

    .contactinfo p {
        font-size: 14px;
    }

    .contactinfo h1 {
        font-size: 20px;
    }

    .mailButton {
        padding: 10px 15px;
        font-size: 1rem;
    }

    .footer {
        height: 150px;
    }

    .footericons a {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }

    .footerinfo p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 1023px){

    .home {
        min-height: 920px;
    }

    .imgbody {
        width: 180px;
        height: 180px;
    }

    .avatarImage {
        width: 180px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 180px;
        height: 180px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 180px;
        height: 180px;
    }

    .homeContent {
        width: 250px;
    }

    .contactinfo {
        width: 350px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 1023px){

    .imgbody {
        width: 250px;
        height: 250px;
    }

    .avatarImage {
        width: 250px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 250px;
        height: 250px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 250px;
        height: 250px;
    }

    .homeContent {
        width: 350px;
    }

    .projects {
        min-height: 1550px;
    }

    .projectsinfo p {
        width: 350px;
    }

    .detailsButton {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 350px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 350px;
    }

    .contactinfo {
        width: 450px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px){

    .imgbody {
        width: 300px;
        height: 300px;
    }

    .avatarImage {
        width: 300px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 300px;
        height: 300px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 300px;
        height: 300px;
    }

    .homeContent {
        width: 500px;
    }

    .homeContainer .numbersDetails {
        gap: 60px;
    }

    .eachNumberDetails h1 {
        font-size: 16px;
    }

    .eachNumberDetails span {
        font-size: 24px;
    }

    .services {
        min-height: 1100px;
    }

    .servicesOneContainer {
        width: 300px;
    }

    .skillsbox {
        grid-template-columns: repeat(3, 1fr);
    }

    .singleskill {
        height: 50px;
        width: 140px;
    }

    .projects {
        min-height: 1750px;
    }

    .projectsinfo p {
        width: 500px;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 450px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 450px;
    }

    .icons1 p {
        font-size: 16px;
    }

    .icons1 i {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .nav_container .smallLogo{
        width: 32px;
        left: 60px;
    }  

    .logo-header #mylogo {
        width: 300px;
    }
        
    .nav_container .bx-menu {
        right: 50px;
        font-size: 32px;
    }

    .sidebar .bx-x {
        right: 50px;
        font-size: 32px;
    }

    .services {
        min-height: 800px;
    }

    .content-box {
        flex-direction: row;
        gap: 10px;
    }

    .servicesOneContainer {
        height: 150px;
        width: 220px;
    }

    .skillsbox {
        grid-template-columns: repeat(4, 1fr);
    }

    .singleskill {
        height: 50px;
        width: 160px;
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    .singleskill a{
        position: relative;
        font-size: 14px;
        padding: 0px 10px;
    }

    .singleskill i {
        font-size: 28px;
    }

    .projects {
        min-height: 1900px;
    }

    .projectsinfo h1 {
        font-size: 32px;
    }

    .projectsinfo p {
        font-size: 24px;
    }

    .projectsinfo p {
        width: 500px;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 550px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 550px;
    }

    .icons1 p {
        font-size: 16px;
    }

    .icons1 i {
        font-size: 32px;
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1919px){
    
    .logo-header #mylogo {
        width: 300px;
    }

    .nav_container .smallLogo {
        width: 32px;
    }

    .home {
        min-height: 90svh;
        margin: 0 auto;
        max-width: 1024px;
    }

    .navbar {
        max-width: 1200px;
        height: 60px;
    }

    .nav_container {
        margin: 0 auto;
        max-width: 1024px;
    }

    .nav_menu a {
        opacity: 0.7;
        font-size: 16px;
    }

    .nav_menu {
        gap: 40px;
    }

    .homeContainer {
        padding: 0 120px;
        margin: 0 auto;
        max-width: 1024px;
        padding-top: 80px;
    }

    .imgbody {
        width: 220px;
        height: 220px;
    }

    .avatarImage {
        width: 220px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 220px;
        height: 220px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 220px;
        height: 220px;
    }

    .homeContent {
        position: relative;
    }

    .homeContent .hello,
    .homeContent .myJob {
        font-size: 20px;
        position: relative;
    }

    .homeContent .myName {
        font-size: 32px;
        position: relative;
    }

    .homeContent .myInfo {
        font-size: 14px;
    }

    .social-media {
        display: flex;
        flex-direction: row;
    }

    .social-media a {
        font-size: 14px;
        height: 30px;
        width: 30px;
    }

    .aboutButton,
    .resumeButton {
        padding: 8px 15px;
        font-size: 14px;
    }

    .homeContainer {
        display: flex;
        flex-direction: row;
    }

    .homeContainer h1 {
        position: relative;
    }

    .homeContainer .numbersDetails {
        padding-top: 20px;
        justify-content: start;
        gap: 40px;
    }

    .eachNumberDetails h1 {
        font-size: 14px;
    }

    .eachNumberDetails span {
        font-size: 24px;
    }

    .services {
        min-height: 650px;
        margin: 0 auto;
        max-width: 1024px;
    }

    .services_container {
        top: 0px;
    }

    .services_container h1 {
        font-size: 2rem;
    }

    .services_container p {
        font-size: 20px;
        position: relative;
        top: -10px;
    }

    .servicesOneContainer {
        height: 150px;
        width: 200px;
    }

    .singlecard {
        --angle: 150deg;
        background: 
        radial-gradient(circle, #08090b 0%, transparent 100%), 
        conic-gradient(from var(--angle), 
        #08090b,#08090b, #08090b, #0c0e11, #1e1f21, #0c0e11, #08090b,
        #08090b, #08090b);
    }

    .singlecard i {      
        font-size: 24px;
    }

    .singlecard h2 {
        font-size: 16px;
        width: 200px;
        text-align: center;
        padding-bottom: 5px;
    }

    .singlecard p {
        font-size: 12px;
    }

    .skillscontainer h1 {
        top: 0px;
    }

    .singleskill {
        height: 45px;
        width: 160px;
        padding: 0px 0px 0px 20px;
    }

    .singleskill a{
        position: relative;
        font-size: 14px;
        padding: 5px 5px;
    }

    .singleskill i {
        font-size: 20px;
    }

    .projects {
        min-height: 1050px;
        margin: 0 auto;
        max-width: 1024px;
        padding-top: 100px;
    }

    .projectsinfo {
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectsinfo h1 {
        font-size: 2rem;
        font-weight: 100;
    }

    .projectsinfo p {
        font-size: 20px;
        width: 500px;
    }

    .projects_container {
        display: flex;
        gap: 40px;
    }

    .projectCard,
    .projectCard:nth-child(2) {
        display: flex;
        top: -60px;
        height: auto;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 400px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 350px;
    }


    .infoContainer1 h2 {
        font-size: 18px;
    }

    .eachInfo1 p {
        font-size: 13px;
    }

    .icons1 p {
        font-size: 14px;
    }

    .icons1 i {
        padding-left: 2px;
        font-size: 24px;
    }

    .detailsButton {
        padding: 8px 15px;
        font-size: 0.8rem;
    }

    .contact {
        min-height: 600px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .contactinfo {
        top: 80px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactinfo h2 {
        font-size: 32px;
        font-weight: 100;
    }

    .contactinfo h3 {
        font-size: 24px;
    }

    .contactinfo p {
        font-size: 16px;
    }

    .contactinfo h1 {
        font-size: 24px;
    }

    .contactButton a{
        padding: 10px 15px;
        font-size: 14px;
    }

    .footer {
        min-height: 150px;
    }

    .footericons a{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .footerinfo p {
        font-size: 14px;
    } 
    
}

@media only screen and (min-width: 1200px) and (max-width: 1919px){

    .home {
        max-width: 1200px;
        min-height: 100svh;
    }

    .navbar {
        max-width: 1440px;
        height: 80px;
    }

    .nav_container {
        margin: 0 auto;
        max-width: 1200px;
    }

    .nav_menu a {
        font-size: 18px;
    }

    .nav_menu {
        gap: 40px;
    }

    .homeContainer {
        padding: 0px 120px;
        max-width: 1200px;
    }

    .imgbody {
        width: 250px;
        height: 250px;
    }

    .avatarImage {
        width: 250px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 250px;
        height: 250px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 250px;
        height: 250px;
    }

    .homeContent .hello,
    .homeContent .myJob {
        font-size: 24px;
        padding: 10px 0px 0px 0px;
    }

    .homeContent .myName {
        font-size: 36px;
        padding: 10px 0px 0px 0px;
        position: relative;
    }

    .homeContent .myInfo {
        font-size: 16px;
        padding: 10px 0px 0px 0px;
    }

    .social-media {
        padding: 10px 0px 0px 0px;
    }

    .social-media a {
        font-size: 18px;
        height: 35px;
        width: 35px;
    }

    .aboutButton,
    .resumeButton {
        padding: 6px 15px;
    }

    .eachNumberDetails h1 {
        font-size: 16px;
    }

    .eachNumberDetails span {
        font-size: 32px;
    }

    .services {
        max-width: 1200px;
        margin: 0 auto;
        min-height: 750px;
        padding: 80px 0px 0px 0px;
    }

    .services_container {
        top: 0px;
        padding: 0px 0px;
    }

    .services_container h1 {
        font-size: 3rem;
    }

    .services_container p {
        font-size: 24px;
        position: relative;
        top: -10px;
    }

    .servicesOneContainer {
        height: 180px;
        width: 250px;
    }

    .singlecard i {      
        font-size: 28px;
    }

    .singlecard h2 {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .singlecard p {
        font-size: 15px;
    }

    .skillscontainer h1 {
        font-size: 2rem;
    }

    .singleskill {
        height: 45px;
        width: 180px;
        padding: 0px 0px 0px 20px;
    }

    .singleskill a{
        position: relative;
        font-size: 14px;
        padding: 5px 10px;
    }

    .singleskill i {
        font-size: 24px;
    }

    .projects {
        min-height: 1200px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .projectsinfo h1 {
        font-size: 3rem;
    }

    .projectsinfo p {
        font-size: 24px;
        width: 800px;
    }

    .projectCard,
    .projectCard:nth-child(2) {
        display: flex;
        top: -60px;
        height: auto;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 450px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 450px;
    }


    .infoContainer1 h2 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    .eachInfo1 p {
        font-size: 0.9rem;
    }

    .icons1 p {
        font-size: 1rem;
    }

    .icons1 i {
        font-size: 1.5rem;
    }

    .detailsButton {
        padding: 8px 15px;
        font-size: 0.8rem;
    }

    .contact {
        min-height: 600px;
        margin: 0 auto;
        max-width: 1200px;
    }

    .contactinfo {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactinfo h2 {
        font-size: 3rem;
    }

    .contactinfo h3 {
        font-size: 24px;
    }

    .contactinfo p {
        font-size: 16px;
    }

    .contactinfo h1 {
        font-size: 24px;
    }

    .footer {
        min-height: 150px;
    }

    .footericons a {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
} 

@media only screen and (min-width: 1440px) and (max-width: 1919px){

    .logo-header #mylogo {
        width: 350px;
    }

    .home {
        max-width: 1440px;
        min-height: 100svh;
    }

    .navbar {
        max-width: 1920px;
    }

    .nav_container {
        margin: 0 auto;
        max-width: 1440px;
    }

    .nav_menu a {
        font-size: 20px;
    }

    .nav_menu {
        gap: 50px;
    }

    .homeContainer {
        padding: 0px 120px 0px 120px;
        max-width: 1400px;
    }

    .imgbody {
        width: 320px;
        height: 320px;
    }

    .avatarImage {
        width: 320px;
    }

    .img-wrap1::before,
    .img-wrap1::after {
        width: 320px;
        height: 320px;
    }

    .img-wrap2::before,
    .img-wrap2::after {
        width: 320px;
        height: 320px;
    }

    .homeContent .hello,
    .homeContent .myJob {
        font-size: 28px;
        padding: 15px 0px 0px 0px;
    }

    .homeContent .myName {
        font-size: 56px;
        position: relative;
        padding: 15px 0px 0px 0px;
    }

    .homeContent .myInfo {
        font-size: 1.1rem;
        padding: 15px 0px 0px 0px;
    }

    .social-media {
        padding: 15px 0px 0px 0px;
    }

    .social-media a {
        font-size: 18px;
        height: 40px;
        width: 40px;
    }

    .aboutButton, 
    .resumeButton {
        padding: 8px 18px;
        font-size: 16px;
    }

    .homeContainer .numbersDetails {
        padding-top: 40px;
        justify-content: start;
        gap: 60px;
    }

    .eachNumberDetails h1 {
        font-size: 1.2rem;
    }

    .eachNumberDetails span {
        font-size: 2rem;
    }

    .services {
        max-width: 1440px;
        margin: 0 auto;
        min-height: 750px;
    }

    .services_container h1 {
        font-size: 3rem;
    }

    .services_container p {
        font-size: 1.8rem;
        position: relative;
    }

    .servicesOneContainer {
        height: 200px;
        width: 260px;
    }

    .singlecard i {      
        font-size: 2rem;
    }

    .singlecard h2 {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 10px;
        width: 250px;
    }

    .singlecard p {
        font-size: 1rem;
        letter-spacing: 0.5;
    }

    .skillscontainer h1 {
        font-size: 2rem;
    }

    .singleskill {
        height: 50px;
        width: 220px;
        padding: 0px 0px 0px 20px;
    }

    .singleskill a{
        position: relative;
        font-size: 1rem;
        padding: 5px 10px;
    }

    .singleskill i {
        font-size: 2rem;
    }

    .projects {
        min-height: 1450px;
        margin: 0 auto;
        padding-top: 100px;
        max-width: 1440px;
    }

    .projectsinfo h1 {
        font-size: 3rem;
        font-weight: 100;
    }

    .projectsinfo p {
        font-size: 1.5rem;
        width: 800px;
        padding-bottom: 0.5rem;
        font-weight: 100;
    }

    .imgContainer,
    .projectCard:nth-child(2) .imgContainer {
        width: 600px;
    }

    .infoContainer1,
    .projectCard:nth-child(2) .infoContainer1 {
        width: 550px;
    }

    .infoContainer1 h2 {
        font-size: 1.3rem;
        margin-top: 20px;
    }

    .eachInfo1 p {
        font-size: 1rem;
    }

    .icons1 p {
        font-size: 1rem;
    }

    .icons1 i {
        font-size: 1.5rem;
    }

    .detailsButton {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .contact {
        min-height: 720px;
        margin: 0 auto;
        max-width: 1440px;
    }

    .contactinfo {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .contactinfo h2 {
        font-size: 3rem;
        font-weight: 100;
    }

    .contactinfo h3 {
        font-size: 2rem;
        font-weight: 100;
    }

    .contactinfo p {
        font-size: 1.2rem;
    }

    .contactinfo h1 {
        font-size: 1.8rem;
    }

    .contactButton a{
        font-size: 1rem;
        padding: 10px 20px;
    }

    .footer {
        min-height: 200px;
    }

    .footericons a {
        height: 40px;
        width: 40px;
        font-size: 1rem;
    }

    .footerinfo p {
        font-size: 1rem;
    }
}

 @media only screen and (min-width: 1920px){

    .myLogo {
        width: 500px;
    }

    .home {
        max-width: 1920px;
        width: 100%;
        min-height: 100svh;
        margin: 0 auto;
    }

    .nav_container {
        margin: 0 auto;
        max-width: 1920px;
    }

    .homeContainer {
        padding-top: 100px;
    }

    .services {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        min-height: 900px;
    }

    .projects {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        min-height: 1900px;
        padding-top: 100px;
    }

    .contact {
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        min-height: 800px;
    }
} 